

/*
.header {
  background-color: #a51fca;
  padding: 20px;
  text-align: center;
}

/*.header img {
  width: 150px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.navbar {
  background-color: #1499e1;
  border-radius: 10px;
  border-color: black;
  border-style:groove;
  display: flex;
  align-items: center; 
  padding: 10px 0;
}

.navbar-logo {
  width: 50px; 
  height: auto;
  margin: 0 20px; 
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.navbar-links {
  display: flex;
}

.navbar a {
  color: white;
  font-family: Verdana;
  font-size: 20px;
  text-decoration: none;
  padding: 10px 20px;
}

.navbar a:hover {
  background-color: #e80b81;
}


.login-btn {
  display:flex;
  margin-left: 55%;
  gap: 20px;
}


.login-btn {
  display: flex;
  align-items: center;
}

.login-btn button {
  background-color: #6705a0;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.login-btn button:hover {
  background-color: #45a049;
}

.signup-btn {
  background-color: #e80b81;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.signup-btn:hover {
  background-color: #a51fca;
}*/
.box {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

box .logo-be-wrapper {
  border: 0px none;
  height: 16.15px;
  width: 26.38px;
}

.box .logo-be {
  display: block;
  height: 16px;
  left: 1050px;
  position: fixed;
  top: 15px;
  width: 26px;
}



.box .backgroundhero-wrapper {
  border: 0px none;
  height: 555px;
  width: 1280px;
}

.box .backgroundhero {
  height: 1000px;
  left: 0px;
  position: fixed;
  top: 0;
  width: 1500px;
}
.label {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.label .logo-wrapper {
  border: 0px none;
  height: 30px;
  width: 180px;
}

.label .logo {
  color: #19192e;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 0;
  letter-spacing: -0.8px;
  line-height: normal;
  position: fixed;
  top: 10px;
}

.label .text-wrapper {
  font-weight: 600;
}

.label .span {
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
}
  

.label {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.label .state-wrapper {
  border: 0px none;
  height: 18px;
  width: 86px;
}

.label .state {
  color: #ae48ff;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 13px;
  font-weight: 500;
  left: 160px;
  letter-spacing: 0;
  line-height: normal;
  position: fixed;
  top: 15px;
}


.box .dribbble-ball-mark-wrapper {
  border: 0px none;
  height: 17.05px;
  width: 17.05px;
}

.box .dribbble-ball-mark {
  display: block;
  height: 17px;
  left: 1100px;
  position: fixed;
  top: 15px;
  width: 17px;
}


.box .logo-linkedin-wrapper {
  border: 0px none;
  height: 17.05px;
  width: 17.05px;
}

.box .logo-linkedin {
  display: block;
  height: 17px;
  left: 1140px;
  position: fixed;
  top: 15px;
  width: 17px;
}


.label .agile-user-interface-wrapper {
  border: 0px none;
  height: 70px;
  width: 467px;
}

.label .agile-user-interface {
  height: 60px;
  left: -130px;
  position: fixed;
  top: 100px;
  width: 466px;
}

/* App.css */

.additional-text {
  font-weight: bold;
  display: block; /* To display the text on a new line */
  margin-top: 5px; /* Adjust the margin as needed to control the spacing */
}

.label {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.label .portfolio-of-UI-desi-wrapper {
  border-radius: 16px;
  background: #FFF;

  height: 63px;
  width: 433px;
}

.label .portfolio-of-UI-desi {
  color: #1e2e3b;
  font-family: "Circular Std-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 110px;
  letter-spacing: -0.3px;
  line-height: 21px;
  position: fixed;
  top: 150px;
  width: 433px;
}

.label .text-wrapper {
  color: #5d86a7;
  font-family: "Circular Std-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.3px;
  line-height: 21px;
}

.label .span {
  font-family: "Circular Std-Bold", Helvetica;
  font-weight: 700;
}
.label {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.label .portfolio-of-UI-desi-wrappe {
  border-radius: 16px;
background: #FFF;

  height: 40px;
  width: 271px;
}

.label .portfolio-of-UI-des {
  color: transparent;
  
  font-family: "Circular Std-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 110px;
  letter-spacing: -0.28px;
  line-height: 19.6px;
  position: fixed;
  top: 240px;
}

.label .text-wrapper {
  color: #5d86a7;
}

.label .text-wrapper1 {
  color: #141b20;
}

.label .span {
  color: #ae48ff;
}

.label {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.label .but-first-watch-my-c-wrapper {
  border: 0px none;
  height: 46px;
  width: 201px;
}

.label .but-first-watch-my-c {
  color: #5d86a7;
  font-family: "Circular Std-Book", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 410px;
  letter-spacing: -0.26px;
  line-height: 18.2px;
  position: fixed;
  top: 260px;
  width: 201px;
}

.label .but-first-watch-my {
  color: #ff0090;
  font-family: "Circular Std-Book", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 410px;
  letter-spacing: -0.26px;
  line-height: 18.2px;
  position: fixed;
  top: 280px;
  width: 201px;
}



.label .portfolio-of-UI-desi-wrapp {
  border-radius: 16px;
background: #FFF;

  height: 28px;
  width: 20px;
}

.label .portfolio-of-UI {
  color: #859fb3;
  
  font-family: "Circular Std-Book", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 110px;
  letter-spacing: -0.4px;
  line-height: 28px;
  position: fixed;
  top: 320px;
  white-space: nowrap;
}

.label {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.label .what-people-are-sayi-wrapper {
  border-radius: 16px;
background: #FFF;

/* Shadows / Black30 */
box-shadow: 0px 40px 30px 0px rgba(25, 25, 46, 0.04);
  height: 24px;
  width: 60px;
}

.label .what-people-are-sayi {
  color: #12222f;
  background-color: white;
  border-radius: 5px;
  border-color: #08070d;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 800px;
  letter-spacing: -0.48px;
  line-height: normal;
  position: fixed;
  top: 150px;
}


.label .what-people-are-sayi-wrapper1 {
  border-radius: 16px;
background: #FFF;

/* Shadows / Black30 */
box-shadow: 0px 40px 30px 0px rgba(25, 25, 46, 0.04);
  height: 24px;
  width: 132px;
}

.label .what-people-are-sayi1 {
  color: #12222f;
  background-color: white;
  border-radius: 5px;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 950px;
  letter-spacing: -0.48px;
  line-height: normal;
  position: fixed;
  top: 90px;
}

.image {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.image .face-photo-wrapper {
  border: 0px none;
  height: 84.18px;
  width: 82.18px;
}

.image .face-photo {
  height: 84px;
  left: 994px;
  position: fixed;
  top: 167px;
  width: 84px;
}

.box {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.box .home-wrapper {
  border: 0px none;
  height: 214px;
  position: relative;
  width: 247px;
}

.box .home {
  background-color: #ffffff;
  border-radius: 13.15px;
  box-shadow: 0px 40px 30px #19192e0a;
  height: 214px;
  left: 910px;
  overflow: hidden;
  position: fixed;
  top: 145px;
  width: 247px;
}

.box .hola-andrew-listo-p {
  color: #25323c;
  font-family: "Circular Std-Bold", Helvetica;
  font-size: 15.8px;
  font-weight: 700;
  left: 53px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 145px;
  width: 140px;
}

.box .desaf-os {
  color: #859fb3;
  font-family: "Circular Std-Book", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 86px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 189px;
}

.box .overlap-group {
  height: 96px;
  left: 82px;
  position: absolute;
  top: 36px;
  width: 84px;
}

.box .photo-wrapper {
  background-image: url(./face-photo.png);
  background-size: 100% 100%;
  border-radius: 42.09px;
  box-shadow: 0px 10px 20px #003a6c21;
  height: 84px;
  left: 0;
  position: absolute;
  top: 0;
  width: 84px;
}

.box .component-points-m {
  align-items: center;
  background: linear-gradient(
    180deg,
    rgb(255, 38.25, 178.27) 0%,
    rgb(133, 26.56, 216.64) 64.06%,
    rgb(62.9, 14.87, 255) 100%
  );
  border-radius: 65.77px;
  box-shadow: 0px 5px 20px #fa766033;
  display: inline-flex;
  gap: 6.58px;
  left: 17px;
  padding: 5.92px 9.86px;
  position: absolute;
  top: 71px;
}

.box .element {
  color: #ffffff;
  font-family: "Circular Std-Bold", Helvetica;
  font-size: 10.5px;
  font-weight: 700;
  height: 13.15px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.66px;
  position: relative;
  text-align: center;
  width: 30.25px;
}


.label {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.label .nombre-del-producto-wrapper {
  border-radius: 16px;
background: #FFF;

/* Shadows / Black30 */
box-shadow: 0px 40px 30px 0px rgba(25, 25, 46, 0.04);
  height: 24px;
  width: 64px;
}

.label .nombre-del-producto {
  color: #213341;
  background-color: white;
  border-radius: 5px;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 800px;
  letter-spacing: -0.48px;
  line-height: normal;
  position: fixed;
  top: 250px;
}

.label {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.label .what-people-are-sayi-wrapper2 {
  border-radius: 16px;
background: #FFF;

/* Shadows / Black30 */
box-shadow: 0px 40px 30px 0px rgba(25, 25, 46, 0.04);
  height: 24px;
  width: 109px;
}

.label .what-people-are-sayi2 {
  color: #2c4052;
  background-color: white;
  border-radius: 5px;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 1190px;
  letter-spacing: -0.48px;
  line-height: normal;
  position: fixed;
  top: 190px;
}

.label {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.label .nombre-del-producto-wrapper1 {
  border-radius: 16px;
background: #FFF;

/* Shadows / Black30 */
box-shadow: 0px 40px 30px 0px rgba(25, 25, 46, 0.04);
  height: 24px;
  width: 64px;
}

.label .nombre-del-producto1 {
  color: #324a5e;
  background-color: white;
  border-radius: 5px;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 1170px;
  letter-spacing: -0.48px;
  line-height: normal;
  position: fixed;
  top: 300px;
}

.box {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.box .frame-wrapper1 {
  border: 0px none;
  height: 61.02px;
  overflow-x: hidden;
  width: 61.02px;
}

.box .frame1 {
  height: 70px;
  background-color: rgb(230, 230, 83);
  border-radius: 5px;
  left: 1132px;
  position: fixed;
  top: 188px;
  width: 50px;
}

.image {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.box .frame-wrapper2 {
  border: 0px none;
  height: 61.02px;
  overflow-x: hidden;
  width: 61.02px;
}

.box .frame2 {
  height: 40px;
  background-color: rgb(21, 216, 203);
  border-radius: 5px;
  background-origin: 5px;
  left: 930px;
  position: fixed;
  top: 345px;
  width: 30px;
}

.image {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.box .frame-wrapper3 {
  border: 0px none;
  height: 61.02px;
  overflow-x: hidden;
  width: 61.02px;
}

.box .frame3 {
  height: 40px;
  background-color: #abf7f2;
  border-radius: 5px;
  left: 896px;
  position: fixed;
  top: 200px;
  width: 30px;
}

.image {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.label {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.label .portfolio-of-UI-desi-wrapper2 {
  border-radius: 16px;
background: #FFF;

  height: 20px;
  width: 228px;
}

.label .portfolio-of-UI-desi2 {
  color: #00f328;
  font-family: "Circular Std-Book", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 140px;
  letter-spacing: -0.28px;
  line-height: 19.6px;
  position: fixed;
  top: 326px;
  width: 228px;
}

.label .portfolio-of-UI-desi-wrapper3 {
  border-radius: 16px;
background: #FFF;

  height: 40px;
  width: 228px;
}

.label .portfolio-of-UI-desi3 {
  color: #08070d;
  font-family: "Circular Std-Book", Helvetica;
  font-size: 40px;
  font-weight: 500;
  left: 140px;
  letter-spacing: -0.28px;
  line-height: 19.6px;
  position:fixed;
  top: 126px;
  width: 400px;
}

.box {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.box .thumbnail-wrapper {
  border: 0px none;
  height: 209px;
  overflow-x: hidden;
  width: 330px;
}

.box .thumbnail {
  height: 279px;
  left: 0;
  position: fixed;
  top: 390px;
  width: 390px;
}

.box .thumbnail-wrapper1 {
  border: 0px none;
  height: 209px;
  overflow-x: hidden;
  width: 330px;
}

.box .thumbnail1 {
  height: 279px;
  left:450px;
  position: fixed;
  top: 390px;
  width: 390px;
}

.box .thumbnail-wrapper2 {
  border: 0px none;
  height: 209px;
  overflow-x: hidden;
  width: 330px;
}

.box .thumbnail2 {
  height: 279px;
  left:890px;
  position: fixed;
  top: 390px;
  width: 390px;
}